
.chart-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

canvas {
  background: #111;
  border-radius: 10px;
  padding: 10px;
}

.row .card {
    height: 100%;
}