<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Plant Monitor</title>
</head>

<body class="bg-light">
    <div class="container mt-4">
        <h2>Plant State: {{ state }}</h2>
        <!-- State Dropdown -->
        <form action="/set_state" method="post" class="mb-4">
            <select name="plant_state" onchange="this.form.submit()" class="form-select">
                {% for s in ["Seedling", "Vegetation", "Flowering", "Late Flowering"] %}
                <option value="{{ s }}" {% if s == state %}selected{% endif %}>{{ s }}</option>
                {% endfor %}
                </select>
        </form>
        <!-- Update button -->
        <div>
            <a href="/manual_update">
                <button>Update Sensor</button>
            </a>
            <!-- Range Selector -->
            <select id="rangeSelect" onchange="loadCharts()">
                <option value="60m">Last 60 Minutes</option>
                <option value="6h">Last 6 Hours</option>
                <option value="12h">Last 12 Hours</option>
                <option value="24h" selected>Last 24 Hours</option>
                <option value="7d">Last 7 Days</option>
            </select>
            <br>
            </div>
        <div>
            <p class="display 5"> <b>Recent Reading:</b> {{actual.time}} </p>
        </div>
        <!-- Status Card -->
        <div class="row g-3 mb-3">
            <div class="col-3 col-md-3">
                <div class="card text-white bg-{{ temp_color }}">
                    <div class="card-body">
                        <h5 class="card-title">Temperature</h5>
                        <p class="display-6">{{ actual.temp }}°F</p>
                        <small>
                            Target Min: {{ targets.temp[0] }}°F<br>
                            Target Max: {{ targets.temp[1] }}°F
                        </small>
                    </div>
                </div>
            </div>
            <!-- Chart Card -->
            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-muted">
                            <span id="chartRangeLabel">Last 24 Hours</span>
                        </h6>
                        <canvas id="tempChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="row g-3 mb-3">
            <div class="col-3 col-md-3">
                <div class="card text-white bg-{{ hum_color }}">
                    <div class="card-body">
                        <h5 class="card-title">Humidity</h5>
                        <p class="display-6">{{ actual.hum }}%</p>
                        <small>
                            Target Min: {{ targets.hum[0] }}%<br>
                            Target Max: {{ targets.hum[1] }}%
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-muted">
                            <span id="chartRangeLabel">Last 24 Hours</span>
                        </h6>
                        <canvas id="humChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-3 col-md-3">
                <div class="card text-white bg-{{ soil_color }}">
                    <div class="card-body">
                        <h5 class="card-title">Soil Moisture</h5>
                        <p class="display-6">{{ actual.soil }}%</p>
                        <small>
                            Target Min: {{ targets.soil[0] }}%<br>
                            Target Max: {{ targets.soil[1] }}%
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-muted">
                            <span id="chartRangeLabel">Last 24 Hours</span>
                        </h6>
                        <canvas id="soilChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>