<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Plant Monitor</title>
</head>
<body class="bg-light">
<div class="container mt-4">
    <h2>Plant State: {{ state }}</h2>
    
    <!-- State Dropdown -->
    <form action="/set_state" method="post" class="mb-4">
        <select name="plant_state" onchange="this.form.submit()" class="form-select">
            {% for s in ["Seedling", "Vegetation", "Flowering", "Late Flowering"] %}
            <option value="{{ s }}" {% if s == state %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>
    </form>
    <!-- Update button -->
    <a href="/manual_update">
      <button>Update Sensor</button>
    </a>
    <!-- Status Widgets -->
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card text-white bg-{{ temp_color }}">
                <div class="card-body">
                    <h5 class="card-title">Temperature</h5>
                    <p class="display-6">{{ actual.temp }}°F</p>
                    <small>Target Min: {{targets.temp[0]}}°F <br> Target Max: {{targets.temp[1]}}°F</small>
                </div>
            </div>
        </div>
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card text-white bg-{{ temp_color }}">
                <div class="card-body">
                    <h5 class="card-title">Humidity</h5>
                    <p class="display-6">{{ actual.hum }}%</p>
                    <small>Target Min: {{targets.hum[0]}}% <br> Target Max: {{targets.hum[1]}}%</small>
                </div>
            </div>
        </div>
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card text-white bg-{{ temp_color }}">
                <div class="card-body">
                    <h5 class="card-title">Soil Moisture</h5>
                    <p class="display-6">{{ actual.soil }}%</p>
                    <small>Target Min: {{targets.soil[0]}}% <br>  Target Max: {{targets.soil[1]}}%</small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
